[submodule "vendor/libgit2"]
	path = vendor/libgit2
	url = https://github.com/libgit2/libgit2.git
[submodule "vendor/libssh2"]
	path = vendor/libssh2
	url = https://github.com/sithembiso/libssh2.git
[submodule "vendor/openssl"]
	path = vendor/openssl
	url = https://github.com/sithembiso/openssl.git
[submodule "vendor/http-parser"]
	path = vendor/http-parser
	url = https://github.com/nodejs/http-parser.git
